<!DOCTYPE html>
<html ng-app='myPage' lang="en">
<head>
	<meta charset="UTF-8">
	<title>craven.tech</title>
<!-- 	<link rel="stylesheet" href="ui-bootstrap-tpls-1.3.3.min.js"> -->

	<!-- jQuery library -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->

	

	<!-- <script src="js/changeSVG.js"></script> -->
	

	<!-- load bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	
	<!-- <link rel="stylesheet" href="mobirise/style.css"> -->

	


	<!-- scrolling nav -->
	<!-- <link href="css/scrolling-nav.css" rel="stylesheet"> -->

	<!-- load animate -->
	<link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css">

	<!-- load animate-it (for in-view animations)...(not jquery inview) -->
	<link rel="stylesheet" href="css/animations.css">

	<link rel="stylesheet" type='text/css' href="main.css">
	
	<!-- angular -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
	<!-- font family -->
	<link href='https://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>

</head>
<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body 
 id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
 ng-controller='MainController' style='background-color:black'
>
<div class="loader"></div>
	<!-- Navbar -->
	<nav class="navbar transparent navbar-inverse navbar-static-top  nav-tabs navbar-fixed-top hr" role='navigation' style='z-index:100000'>
	  	<div class='navContainer'>
		    <div id='richard' class="navbar-brand logo">Richard Craven</div>    
			<!-- <a class='email navbar-nav contactEmail' href="mailto:richard.craven85@gmail.com?Subject=Hello" target="_top">contact</a> -->
		    <ul class="nav navbar-nav">
		    </ul>
		   <!--  <ul class="nav navbar-nav navbar-right poptarts">
		        <li class="nav-item homeButton" >
		          <a class="nav-link " ng-click='' href="">Home </a>
		        </li>
		        <li class="nav-item portfolioButton" >
		          <a class="nav-link " ng-click='' href="">Portfolio</a>
		        </li>
		        <li class="nav-item aboutButton" >
		          <a class="nav-link  showHead" href="" >About</a>
		        </li>
		        <li class='nav-item active'>
		        	<div id='spacer'></div>
		        </li>
		    </ul> -->
<!-- 	      <form class="form-inline pull-xs-right">
	        <input class="form-control" type="text" placeholder="Search">
	        <button class="btn btn-success-outline" type="submit">Search</button>
	      </form> -->
		</div>
	</nav>
	<!-- <a class='phonenum'>(650)799-4285</a> -->
<!-- 	<a style='margin-top:100px' class='btn btn-inv btn-lg' data-direction='left'>Contact</a>
 --><div id="wrapper">
	<!-- Sidebar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" >
	    <ul class="nav sidebar-nav">
	        <li style='margin-top:150px' id='sideHome'>
	        	<!-- ^ used to have class="sidebar-brand" -->
	            <a class='nav-link homeButton' href="#page-top">
	               Home
	            </a>
	        </li>
	        <li id='sidePortfolio'>
	            <a class="nav-link portfolioButton" href="#">Portfolio</a>
	        </li>
	        <li id='sideAbout'>
	            <a class="nav-link aboutButton showHead" href="#">About</a>
	        </li>
	        <!-- <li>
	            <a href="#">Team</a>
	        </li> -->
	        <li class="dropdown" id='sideContact'>
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <!-- <li class="dropdown-header"></li> -->
	            <li class='contactEmail'><a href="mailto:richard.craven85@gmail.com?Subject=Hello" target="_top">Email</a></li>
	            <li><a href="https://www.linkedin.com/in/richard-craven-082a0816">LinkedIn</a></li>
	            <!-- <li><a href="#">Something else here</a></li> -->
	            <!-- <li><a href="#">Separated link</a></li>
	            <li><a href="#">One more separated link</a></li> -->
	          </ul>
	        </li>
	        <!-- <li>
	            <a href="#">Services</a>
	        </li>
	        <li>
	            <a href="#">Contact</a>
	        </li> -->
	        <li id='sideFollowme'>
	            <a href="https://twitter.com/pacific_cipher">Follow me</a>
	        </li>
	    </ul>
	</nav>
	<!-- /#sidebar-wrapper -->
	</div>






	<!-- Main/Section1 -->
	<section id='home' class='main section' data-section-name="home">
	<div class='container-fluid contentContainer'>
    <button type="button" class="hamburger" data-toggle="offcanvas">
        <span class="hamb-top"></span>
		<span class="hamb-middle"></span>
		<span class="hamb-bottom"></span>
    </button>
	<!-- <div class='mouseOverDiv'></div> -->
		<div class="row">
			<div class="col-lg-4 col-md-offset-4 mainDiv papaya">
				<p id='mainText'> </p>
			</div>
		</div>
		<div class="row dots">
			<div id='dot1' >. &nbsp; . </div>
			<div id='dot2' >. &nbsp; . </div>
			<div id='dot3' >. &nbsp; . </div>
			<div id='dot4' >. &nbsp; . </div>
			<div id='dot5' >. &nbsp; . </div>
		</div>
	</div>
	</section>


	<!-- Portfolio -->
	<section id='portfolio' class='portfolio section' data-section-name="portfolio">
		<div class='container-fluid'>
			<!-- <div class='row firstRow'> -->
			<div class='row firstRow'>
			  <!--  <div flex-gt-sm="50" class='' > -->
			  		<div class="leftArrow" ng-click='scrollPortfolioLeft()'>
			  			<img src="images/leftArrow.png" class='animated'>
			  		</div>
			  		<div class="col-md-2">
			  		</div>	
					<div class="col-md-3"> 
						<div class="visiblePortfolio animatedParent animated mobius hoverImages" ng-mouseover='showPreviewAs("mobius")' ng-mouseleave='showPreviewOff()' ng-click='mobiusLink()' ng-show='showPortfolio'>
							<div data-appear-top-offset='-500px' class="animated bounceIn" id='mobius'>
								<img src='images/cover.png'>
								<h3 class='monkey'>Mobius Dimension
								<hr>
								</h3> 
							</div>
							<div class=" animated bounceIn">
								<h4 class='portfolioDescriptor'>Multiplayer Browser Game</h4>
							</div>
						</div>
						<div class="hiddenPortfolio animated slideInLeft mobius2 hoverImages" ng-mouseover='showPreviewAs("mock1")' ng-mouseleave='showPreviewOff()' ng-click='mock1Link()' ng-show='showHiddenPortfolio'>
							<div data-appear-top-offset='-500px' class="animated bounceIn">
								<img src='images/IVNoteScreenshot.png'>
								<h3 class='monkey'>Voice to Text
								<hr>
								</h3> 
							</div>
							<div class=" animated bounceIn">
								<h4 class='portfolioDescriptor'>Mockup</h4>
							</div>
						</div>
					</div>
					<div class="col-md-3"> 
						<div class="visiblePortfolio animatedParent animated cahoots hoverImages" ng-mouseover='showPreviewAs("cahoots")' ng-mouseleave='showPreviewOff()' ng-click='cahootsLink()' ng-show='showPortfolio' >
							<div data-appear-top-offset='-500px' class="animated bounceIn" id='cahoots'>
								<img src='images/cahootsScreenshot.png'>
								<h3 class='monkey'>Cahoots
								<hr>
								</h3> 
							</div>
							<div class=" animated bounceIn">
								<h4 class='portfolioDescriptor'>Collaboration network</h4>
							</div>
						</div>
						<div class="hiddenPortfolio animated slideInLeft cahoots2 hoverImages" ng-mouseover='showPreviewAs("mock2")' ng-mouseleave='showPreviewOff()' ng-click='IVNoteLink()' ng-show='showHiddenPortfolio'>
							<div data-appear-top-offset='-500px' class="animated bounceIn" >
								<img src='images/companyMockup2.png'>
								<h3 class='monkey'> Speech to Text Company
								<hr>
								</h3> 
							</div>
							<div class=" animated bounceIn">
								<h4 class='portfolioDescriptor'>Mockup</h4>
							</div>
						</div>
					</div>
					<div class="col-md-3"> 
						<div class="visiblePortfolio animatedParent animated dannaBreen hoverImages" ng-mouseover='showPreviewAs("danna")' ng-mouseleave='showPreviewOff()' ng-click='dannaBreenDesignLink()' ng-show='showPortfolio'>
							<div  data-class-in="" class="animated bounceIn" data-class-out="out-animation">
								<img src='images/dannaBreen.png' '>
								<h4 class='monkeyDoom'>Danna Breen Design
								<hr> 
								</h4> 
								</a>
							</div>
							<div class="animated bounceIn">
								<h4 class='portfolioDescriptor'>Gardening Site</h4>
							</div>
						</div>
						<div class="hiddenPortfolio animated slideInLeft dannaBreen2" ng-mouseover='showPreviewAs("mock3")' ng-mouseleave='showPreviewOff()' ng-click='dannaBreenDesignLink()' ng-show='showHiddenPortfolio'>
							<div  data-class-in="" class="animated bounceIn dannaBreen2" data-class-out="out-animation">
								<!-- <img src='images/dannaBreen.png' '> -->
								<h4 class='monkeyDoom'>
								<!-- <hr>  -->
								</h4> 
								</a>
							</div>
							<div class="animated bounceIn">
								<h4 class=''></h4>
							</div>
						</div>
					</div>

					<div class="rightArrow" ng-click='scrollPortfolioRight()'>
						<img src="images/rightArrow.png" class='animated'>
					</div>

			</div>
			<div class="row secondRow" >
				<div class="col-md-3 col-sm-2 previewText" >
					<div class="mobiusPreviewText" ng-show='showMobius'>
						<div class="row">
							<div class="col-md-12" >
								MOBIUS DIMENSION is a real time multiplayer space combat game, currently in Alpha release. It is currently free to play via the browser.
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								Players control a ship in a semi-sandbox universe that must fight to survive in a dangerous envionment. Each player-controlled ship also has a small fleet of squadron ships that obey players' commands.
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								I developed the AI systems, weapons and key commands, UI components, and game logic. I also made all the sound effects and music. I work with my friend who built the back end foundation and an artist who makes the in-game models.
							</div>
						</div>
					</div>
					<div class="cahootsPreviewText" ng-show='showCahoots'>
						<div class="row">
							<div class="col-md-12" >
								CAHOOTS is a social collaboration platform developed with Angular 1.5 and NodeJS on the backend.
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								I have a passion for creative projects. In the past I've worked on various projects and found myself wishing I could assemble a team of people to share my vision. Unable to find a local hub for creative people I took it upon myself to build one.
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								The app has gone through several revisions to improve the aesthetic and UX. The release target is March 2018. Stay tuned for updates!
							</div>
						</div>
					</div>
					<div class="dannaPreviewText" ng-show='showDanna'>
						<div class="row">
							<div class="col-md-12" >
								DANNA BREEN DESIGN is simple splash page website to showcase a landscape design business in the SF Bay Area. 
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								I worked closely with the owner to make it exactly how she wanted- <br> several panels with pictures and testimonials, and a contact page.
							</div>
							
						</div>
					</div>
					<div class="dannaPreviewText" ng-show='showMock1'>
						<div class="row">
							<div class="col-md-12" >
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" >
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" >
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" >
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								MOCK UP 1 is a web page for a mock speech-to-text services company. 
								 <!-- <br> several panels with pictures and testimonials, and a contact page. -->
							</div>
						</div>
					</div>
				</div>
				<div ng-show='showPreview' class="col-md-8 preview"> 
					<!-- {{showPreviewValue}} -->
					<div ng-show='showMobius' class="row mobiusPreview">
						<div class="col-md-12" id='mobiusText'>
						</div>
							<video id="mobiusVideo" preload muted >
      							<source src="vids/mobiusPreview.mp4" type="video/mp4">
    	 					</video>
					</div>
					<div ng-show='showCahoots' class="row cahootsPreview">
						<div class="col-md-12" id='cahootsText'>
							
						</div>
						<!-- <div class="col-md-4">
							HO
						</div>
						<div class="col-md-4">
							OTS
						</div> -->
					</div>
					<div ng-show='showDanna' class="row dannaPreview">
						<div class="col-md-12" id='dannaText'>
							
						</div>
					</div>
					<div ng-show='showMock1' class="row mockPreview">
						<div class="col-md-12" id='mock1Text'>
						</div>
							<video id="mock1Video" preload muted >
      							<source src="vids/mockup1Preview.mp4" type="video/mp4">
    	 					</video>
					</div>
				</div>	
			</div>
			<div class="row thirdRow">
				<!-- <div class="col-md-2"> 

				</div> -->
			</div>
		</div>
	</section>
	
	
	<!-- section3  TAKEN OUT-->

	<!-- section4 -->
	<section id='about' class='about section' data-section-name="about">
		<div class='about-container'>
			<div class='row aboutRow1' >
				<div class="col-md-12 aboutText">
					<h3 class='aboutDiv firstAboutDiv text-center'> I'm a full stack web and game developer <br> based out of San Francisco, CA / Vancouver, BC. <br> Fluent in JavaScript, Angular, React, and libraries like <br> jQuery, Angular Material, Bootstrap and UI Bootstrap.
					<br>I'm dedicated to creating polished UI/UX, <br> and have an eye for minimalist design.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 aboutText">
					<h3 class='aboutDiv text-center'> I have backgrounds in game development, <br> biotech, and sound design. <br>  </h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 aboutText">
					<h3 class='aboutDiv text-center'> I enjoy producing music and film projects;<br> a dream of mine is to run a creative co-op.<br> </h3>
				</div>
				<div class='easterEgg'>
					<img class='head animated slideInRight' src="images/floatingHead.png" alt="">
				</div>
			</div>
			<!-- <div class="row" style='margin-top: 10%'> -->
				<!-- <div class="col-md-12"> -->
				<!-- </div> -->
			<!-- </div> -->
			
		</div>
	</section>
	<!-- section5 -->
<!-- 	<section id='contact' class='contact'>
		<div class='container-fluid'>
			<div class='row'>
				<div class="col-md-12">
					contact
				</div>
			</div>
		</div>
	</section> -->



	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

	<!-- css3 animate inview	 -->
	<script src='js/css3-animate-it.js'></script>

	<!-- Scrolling Nav JavaScript -->
	<!-- <script src="js/jquery.easing.min.js"></script> -->
	<!-- <script src="js/scrolling-nav.js"></script> -->
	

	<!-- my js -->
	<script src="app.js"></script>

	<script src='js/jquery.scrollify.js'></script>
	<!-- jquery inview -->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
	<!-- <script src="js/jquery.inview.js"></script> -->
</body>
</html>